DQSAMPLE/route_resources/CustomerTransaction.xsd_0.1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ID"/>
        <xs:element type="xs:string" name="FirstName"/>
        <xs:element type="xs:string" name="LastName"/>
        <xs:element type="xs:string" name="TransactionID"/>
        <xs:element type="xs:string" name="TransactionAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>