DQSAMPLE/services/CatalogServices_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CatalogServices"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="displayBookInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bookId" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="displayBookInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="title" type="xsd:string"></xsd:element>
						<xsd:element name="author"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="publisher"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="releaseDate"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="pages"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="price"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CatalogServicesOperationRequest">
		<wsdl:part name="parameters" element="tns:displayBookInfoRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CatalogServicesOperationResponse">
		<wsdl:part name="parameters" element="tns:displayBookInfoResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CatalogServicesPortType">
		<wsdl:operation name="CatalogServicesOperation">
			<wsdl:input message="tns:CatalogServicesOperationRequest"></wsdl:input>
			<wsdl:output message="tns:CatalogServicesOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CatalogServicesBinding" type="tns:CatalogServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CatalogServicesOperation">
			<soap:operation soapAction="http://www.talend.org/service/CatalogServicesOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CatalogServices">
		<wsdl:port name="CatalogServicesPort" binding="tns:CatalogServicesBinding">
			<soap:address location="http://localhost:8040/services/CatalogServices" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>