DQSAMPLE/services/simpleSOAP_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="simpleSOAP"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="simpleSOAPOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simpleSOAPOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="simpleSOAPOperationRequest">
		<wsdl:part name="parameters" element="tns:simpleSOAPOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="simpleSOAPOperationResponse">
		<wsdl:part name="parameters" element="tns:simpleSOAPOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="simpleSOAPPortType">
		<wsdl:operation name="simpleSOAPOperation">
			<wsdl:input message="tns:simpleSOAPOperationRequest"></wsdl:input>
			<wsdl:output message="tns:simpleSOAPOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="simpleSOAPBinding" type="tns:simpleSOAPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="simpleSOAPOperation">
			<soap:operation soapAction="http://www.talend.org/service/simpleSOAPOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="simpleSOAP">
		<wsdl:port name="simpleSOAPPort" binding="tns:simpleSOAPBinding">
			<soap:address location="http://localhost:8090/services/simpleSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>