DQSAMPLE/services/Test_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Test"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="TestOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TestOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TestOperationRequest">
		<wsdl:part name="parameters" element="tns:TestOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TestOperationResponse">
		<wsdl:part name="parameters" element="tns:TestOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="TestPortType">
		<wsdl:operation name="TestOperation">
			<wsdl:input message="tns:TestOperationRequest"></wsdl:input>
			<wsdl:output message="tns:TestOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TestBinding" type="tns:TestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TestOperation">
			<soap:operation soapAction="http://www.talend.org/service/TestOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Test">
		<wsdl:port name="TestPort" binding="tns:TestBinding">
			<soap:address location="http://localhost:8090/services/Test" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>