DQSAMPLE/services/WebinarSAP_0.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.talend.org/service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebinarWS" targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.talend.org/service/">
			<xsd:element name="WebinarWSOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NUMERO" type="xsd:string"/>
						<xsd:element name="DIVISION" type="xsd:string">
						</xsd:element>
						<xsd:element name="SALESORG" type="xsd:string">
						</xsd:element>
						<xsd:element name="CHANNEL" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WebinarWSOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NUMERO" type="xsd:string"/>
						<xsd:element name="NAME" type="xsd:string">
						</xsd:element>
						<xsd:element name="CITY" type="xsd:string">
						</xsd:element>
						<xsd:element name="COUNTRY" type="xsd:string">
						</xsd:element>
						<xsd:element name="temperature" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Orders" type="tns:order">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="REF" type="xsd:string"/>
					<xsd:element name="PRICE" type="xsd:string"/>
					<xsd:element name="QTY" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="WebinarWSOperationRequest">
		<wsdl:part element="tns:WebinarWSOperationRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="WebinarWSOperationResponse">
		<wsdl:part element="tns:WebinarWSOperationResponse" name="parameters"/>
	</wsdl:message>

	<wsdl:portType name="WebinarWSPortType">
		<wsdl:operation name="WebinarWSOperation">
			<wsdl:input message="tns:WebinarWSOperationRequest"/>
			<wsdl:output message="tns:WebinarWSOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WebinarWSBinding" type="tns:WebinarWSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="WebinarWSOperation">
			<soap:operation soapAction="http://www.talend.org/service/WebinarWSOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="WebinarWS">
		<wsdl:port binding="tns:WebinarWSBinding" name="WebinarWSPort">
			<soap:address location="http://localhost:8091/services/WebinarWS"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>